#footer {
  background: #2475ff;
  max-width: 100%;
  margin-left: 0% !important;
  padding-left: 0% !important;
  margin-right: 0% !important;
  padding-right: 2rem !important;
}
p {
  color: rgb(234, 239, 240);

}
