<div class="botones">
  <button class="btn-imprimir" onclick="window.print()">Imprimir Carta</button>

  <button class="btn-imprimir" (click)="volver()">Volver</button>
</div>
<div class="carta">
  <div class="logo">
    <img src="/assets/logo.png" />
  </div>

  <section class="destinatario">
    <p><strong>A la atención de:</strong> {{ usuario.nombre }}</p>
    <p><strong>Empresa:</strong> Microgesti&oacute;n Software S.L.</p>
    <p><strong>Fecha:</strong> {{ hoy | date: "dd/MM/yyyy" }}</p>
  </section>

  <main class="contenido">
    <p>Estimado/a {{ usuario.nombre }}:</p>

    <p>
      Por medio de la presente le comunicamos que, con fecha
      {{ datos.fecha }}, comenzará el disfrute de {{ datos.dias }} días hábiles
      de vacaciones correspondiente al ejercicio {{ datos.ejercicio }}, debiendo
      incorporarse nuevamente a su puesto de trabajo el día {{ datos.hasta }}.
    </p>

    <p>Atentamente,</p>
    <p>Carlos Sequeros García</p>
  </main>

  <footer class="pie-firmas">
    <div class="firma">
      <p>El trabajador</p>
    </div>
    <div class="firma">
      <p>La Empresa</p>
    </div>
  </footer>
</div>
