@if (!imprimir) {
  <app-navbar></app-navbar>
}
<div *ngIf="registros">
  @if (!imprimir) {
    <!--TITULO-->
    <div>
      <h3 class="text-left">
        REGISTROS DE JORNADA
        <span>
          <input
            type="month"
            id="mes"
            name="mes"
            min="{{ min }}"
            max="{{ max }}"
            [formControl]="mes"
            (ngModelChange)="modelChanged($event, 'mes')"
          />
        </span>
      </h3>
      <p>
        <button class="boton-icono" (click)="imprimirListado()">
          <i class="fas fa-print"></i><span>Listado</span>
        </button>
      </p>
    </div>
    <!--TOTALES DEL MES-->
    <div class="container">
      <div class="row justify-content-left gap-2">
        <div class="col-4">
          <span class="position-relative"><b>Total</b></span>
        </div>
        <div class="col-1">
          <a>
            <span class="position-relative">{{
              totalesMes.duracion | min2hourMin
            }}</span>
          </a>
        </div>
        <div class="col-1">
          <a>
            <span class>{{ totalesMes.jornada | min2hourMin }}</span>
          </a>
        </div>
        <div class="col-1">
          <a>
            <span *ngIf="totalesMes.positivo" style="color: green">{{
              totalesMes.diferencia | min2hourMin
            }}</span>
            <span *ngIf="!totalesMes.positivo" style="color: red"
              >-{{ totalesMes.diferencia | min2hourMin }}</span
            >
          </a>
        </div>
      </div>

      <div class="row justify-content-left gap-2">
        <div class="col-4">
          <span class="position-relative"><b>Incidencias</b></span>
        </div>
        @if (incidencias > 0) {
          <div class="col-1 hay-incidencias">
            <a [routerLink]="['/incidencias']">
              <mat-icon>warning</mat-icon>
              <span class="position-relative">{{ incidencias }}</span>
            </a>
          </div>
        } @else {
          <div class="col-1">
            <a>
              <span class="position-relative">{{ incidencias }}</span>
            </a>
          </div>
        }
      </div>
    </div>

    <!--TOTALES DIA A DIA-->
    <!-- vista pantalla-->
    <app-home-screen
      [registros]="registros"
      [totales]="totales"
      [hayRegistroActual]="hayRegistroActual"
      [bloqueado]="datos().bloqueado"
      [administrador]="datos().administrador"
      [modo]="datos().modo"
    ></app-home-screen>
  }
  <!-- vista pantalla-->
  @if (imprimir) {
    <app-home-list [registros]="registros" [totales]="totales"></app-home-list>
  }
</div>
@if (!imprimir) {
  <app-footer></app-footer>
}
