a:hover.accion {
  background-color: #002503 !important;
  color: rgb(173, 187, 189) !important;
}

.titulos {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

mat-label {
  font-size: 0.7rem;
}

mat-select {
  font-size: 0.7rem;
}

mat-form-field {
  width: 140px;
  line-height: 1;
}
