<app-navbar class="no-print"></app-navbar>
<div class="contenedor-horizontal">
  <h2>Resumen de vacaciones</h2>
  <div class="contenedor-vertical">
    <button class="no-print boton-icono" (click)="listar()">
      <i class="fas fa-print"></i><span>Listado</span>
    </button>

    <button
      class="no-print boton-icono"
      (click)="verCalendario = !verCalendario"
    >
      <mat-icon>beach_access</mat-icon><span>Solicitar Vacaciones</span>
    </button>
    @if (verCalendario) {
      <div class="filtro-fecha">
        <h4 class="text-left titulo">Solicitar dias de vacaciones</h4>

        <mat-calendar
          [selected]="this.selectedDateRange"
          [comparisonStart]="this.selectedDateRange!.start"
          [comparisonEnd]="this.selectedDateRange!.end"
          (selectedChange)="
            this.rangeChanged($event, setFormRangeControls.bind(this))
          "
        ></mat-calendar>
      </div>
      <button class="no-print boton-icono" (click)="enviarSolicitud()">
        <i class="fas fa-check"></i><span>Enviar</span>
      </button>
    }
  </div>
</div>
<h4 class="contenedor-horizontal-izquierda">
  <label>Empleado: {{ usuario.nombre }}</label>
  <label for="select-year">Ejercicio:</label>
  <label class="only-print">{{ ejercicio }}</label>

  <select
    class="no-print"
    id="select-year"
    [formControl]="anio"
    (change)="cargaRegistros(anio.value)"
  >
    <option [value]="null" disabled>Seleccione año</option>

    @for (anio of anios; track anio; let i = $index) {
      <option [value]="anio">{{ anio }}</option>
    }
  </select>
</h4>

<h4>
  Dias asignados: {{ diasAsignados }}. Disfrutados:
  {{ disfrutados }} Pendientes: {{ pendientes }}
</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha inicio</th>
      <th scope="col">Días</th>
      <th scope="col">Observaciones</th>
      <th scope="col" class="no-print">Carta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vac of vacaciones">
      <td>{{ vac.fecha }}</td>
      <td>{{ vac.dias }}</td>
      <td>
        <div class="td-icon">
          @if (vac.observacion === "P") {
            <mat-icon class="icon-amarillo">timer</mat-icon>Pendiente
          } @else {
            <mat-icon class="no-print icon-verde">check_circle</mat-icon
            >Disfrutado
          }
        </div>
      </td>

      <td class="no-print">
        <div class="td-icon td-files">
          @if (vac.carta === "N" && usuario.admin) {
            <button (click)="verCarta(vac)" class="boton-icono">
              <i class="fas fa-print"></i>
            </button>
          }
          @if (vac.carta === "N" && !usuario.admin) {
            <button class="boton-icono no-click">
              <i class="fas fa-question-circle"></i>
            </button>
          }

          @if (vac.carta === "S") {
            <button (click)="descargaCarta(vac)" class="boton-icono">
              <i class="fas fa-file-pdf"></i>
            </button>
          }
          @if (vac.carta === "N" && usuario.admin) {
            @if (!vac.uploadFile || vac.uploadFile === "") {
              <button
                class="boton-icono"
                type="button"
                mat-raised-button
                (click)="fileInput.click()"
              >
                <i class="fas fa-folder-open"></i>
              </button>
            } @else {
              <button
                class="boton-icono icon-verde"
                type="button"
                mat-raised-button
                (click)="subeCarta(vac)"
              >
                <i class="fas fa-file-arrow-up"></i>
              </button>
            }
            <input
              hidden
              accept="application/pdf"
              (change)="onFileChange($event, vac)"
              #fileInput
              type="file"
              id="file"
            />

            <div
              class="drop-file-area"
              (dragover)="onDragOver($event)"
              (drop)="onDropSuccess($event, vac)"
            >
              <label class="custom-file-upload">
                {{
                  !vac.uploadFile || vac.uploadFile === ""
                    ? "Arrastrar pdf..."
                    : vac.uploadFile
                }}</label
              >
            </div>
          }
        </div>
      </td>
    </tr>

    <tr *ngIf="vacaciones && vacaciones.length === 0">
      <td colspan="2">
        No se han encontrado vacaciones para el ejercicio seleccionado.
      </td>
    </tr>
    <tr *ngIf="vacaciones && vacaciones.length !== 0">
      <td class="totales">Total días:</td>
      <td class="totales">{{ totalDias }}</td>
      <td class="totales"></td>
    </tr>
  </tbody>
</table>
<h6 class="only-print">
  <strong>
    Fecha de listado: {{ fechaListado() }} Usuario:
    {{
      usuario.admin ? "Administrador " + usuario.admin_user : usuario.nombre
    }}</strong
  >
</h6>
<app-footer></app-footer>
