<app-navbar class="no-print"></app-navbar>
<div class="contenedor-horizontal">
  <h2>Resumen de vacaciones</h2>
  <button class="no-print" (click)="listar()">
    <i class="fas fa-print"></i>Listar
  </button>
</div>
<h4 class="contenedor-horizontal-izquierda">
  <label>Empleado: {{ usuario.nombre }}</label>
  <label for="select-year">Ejercicio:</label>
  <label class="only-print">{{ ejercicio }}</label>

  <select
    class="no-print"
    id="select-year"
    [formControl]="anio"
    (change)="cargaRegistros(anio.value)"
  >
    <option [value]="null" disabled>Seleccione año</option>

    @for (anio of anios; track anio) {
      <option [value]="anio">{{ anio }}</option>
    }
  </select>
</h4>
<h4>
  Dias asignados: {{ diasAsignados }}. Disfrutados:
  {{ disfrutados }} Pendientes: {{ pendientes }}
</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha inicio</th>
      <th scope="col">Días</th>
      <th scope="col">Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vac of vacaciones">
      <td>{{ vac.fecha }}</td>
      <td>{{ vac.dias }}</td>
      @if (vac.observacion === "P") {
        <td class="td-icon">
          <mat-icon class="icon-amarillo">timer</mat-icon>Pendiente
        </td>
      } @else {
        <td class="td-icon">
          <mat-icon class="no-print icon-verde">check_circle</mat-icon
          >Disfrutado
        </td>
      }
    </tr>

    <tr *ngIf="vacaciones.length === 0">
      <td colspan="2">
        No se han encontrado vacaciones para el ejercicio seleccionado.
      </td>
    </tr>
    <tr *ngIf="vacaciones.length !== 0">
      <td class="totales">Total días:</td>
      <td class="totales">{{ totalDias }}</td>
      <td class="totales"></td>
    </tr>
  </tbody>
</table>
<h6 class="only-print">
  <strong>
    Fecha de listado: {{ fechaListado() }} Usuario:
    {{
      usuario.admin ? "Administrador " + usuario.admin_user : usuario.nombre
    }}</strong
  >
</h6>
