.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 47, 255, 0.911) !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav {
  color: rgba(255, 115, 0, 0.89) !important;
}

.navbar-light .navbar-nav,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 196, 0, 0.671) !important;
}
