<app-navbar></app-navbar>
<div>
  <h3 class="text-left">
    REGISTROS CON INDICENCIAS
    <span>
      <input
        type="month"
        id="mes"
        name="mes"
        min="{{ min }}"
        max="{{ max }}"
        [formControl]="mes"
        (ngModelChange)="modelChanged($event, 'mes')"
      />
    </span>
  </h3>

  <!-- REGISTROS ANTERIORES DEL DÍA-->
  <app-registro
    *ngFor="let registro of incidencias"
    [datos]="datos"
    [registro]="registro"
  >
  </app-registro>
  <hr />
  <!--<div class="float-end mt-3">-->
  @if (!usuario.admin) {
    <div class="float-end mt-3">
      <h5>
        <span
          class="d-sm-none d-md-inline badge bg-success"
          style="color: #ffff"
          (click)="actualizaRegistros()"
          ><i class="fas fa-save"></i> Actualizar registros</span
        >
      </h5>
    </div>
  }
</div>
<app-footer></app-footer>

<!--  pruebas añadir registro fecha atrasada
<hr>

<h3 class="text-left">Registro jornada fecha atrasada
  <div>
    <input
      type="date"
      id="dia"
      name="dia"
      min="02/01/2026"
      max="07/01/2026"
      [formControl]="dia"
      (ngModelChange)="modelChanged($event, 'dia')" />

  </div>
  <div>
    <app-registro
      [datos]="datosNew"
      [registro]="registroNew">
    </app-registro>
    <div class="float-end mt-3">
    <h5><span class='d-sm-none d-md-inline badge bg-success'
        style="color:#ffff" (click)="addRegistroNuevo()"><i
          class="fas fa-save"></i> Grabar registros</span></h5>
  </div>
</div>

</h3>
-->
