<div *ngIf="registros" class="listado-jornada">
  <div>
    <h3 class="text-left">REGISTROS DE JORNADA {{ mes }}</h3>
    <!-- 
    poner fecha de listado
    datos de empleado
    totales final de mes
    -->
  </div>
  <p class="usuario-listado" *ngIf="nombreUsuario">
    <span class="usuario-etiqueta">Empleado:</span> {{ nombreUsuario }}
  </p>

  <div class="resumen-listado">
    <span class="resumen-item resumen-titulo">Resumen Mensual:</span>
    <span class="resumen-item"
      >Total Jornada: {{ totalListado.jornada | min2hourMin }} Horas</span
    >
    <span class="resumen-item"
      >Realizada: {{ totalListado.duracion | min2hourMin }} Horas</span
    >
    <span class="resumen-item" *ngIf="totalListado.positivo"
      >Diferencias: {{ totalListado.diferencia | min2hourMin }} Horas</span
    >
    <span class="resumen-item" *ngIf="!totalListado.positivo"
      >Diferencias: -{{ totalListado.diferencia | min2hourMin }} Horas</span
    >
  </div>

  <!--TOTALES DIA A DIA-->

  <div class="cabecera-listado grid-listado">
    <span>Fecha</span>
    <span>Inicio</span>
    <span>Final</span>
    <span>Parcial</span>
    <span>Realizada</span>
    <span>Jornada</span>
    <span>Diferencia</span>
  </div>

  @for (
    total of totales;
    track total.fecha;
    let i = $index;
    let isEven = $even
  ) {
    <div
      class="fila-listado"
      [class.fila-par]="isEven"
      [class.fila-impar]="!isEven"
    >
      @if ((registros | filtrar: "inicio" : total.fecha).length == 0) {
        <div class="grid-listado">
          <span>{{ total.fecha }}</span>
          <span class="estado-dia">{{
            total.tipo == "F"
              ? "No laborable "
              : total.tipo == "V"
                ? "Vacaciones"
                : "Sin registros"
          }}</span>
        </div>
      }

      @for (
        registro of registros | filtrar: "inicio" : total.fecha;
        track registro.id;
        let j = $index
      ) {
        <div class="grid-listado">
          @if (j == 0) {
            <span>{{ total.fecha }}</span>
            <span>{{ registro.inicio | cosmos2datetime | date: "HH:mm" }}</span>
            <span>{{ registro.final | cosmos2datetime | date: "HH:mm" }}</span>
            @if ((registros | filtrar: "inicio" : total.fecha).length == 1) {
              <span></span>
            } @else {
              <span>{{ registro.duracion | min2hourMin }}</span>
            }
            <span>{{ total.duracion | min2hourMin }}</span>
            <span>{{ total.jornada | min2hourMin }}</span>
            <span *ngIf="total.positivo">{{
              total.diferencia | min2hourMin
            }}</span>
            <span *ngIf="!total.positivo"
              >-{{ total.diferencia | min2hourMin }}</span
            >
          } @else {
            <span></span>
            <span>{{ registro.inicio | cosmos2datetime | date: "HH:mm" }}</span>
            <span>{{ registro.final | cosmos2datetime | date: "HH:mm" }}</span>
            <span>{{ registro.duracion | min2hourMin }}</span>
            <span></span>
            <span></span>
            <span></span>
          }
        </div>
      }
    </div>
  }

</div>
