body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.carta {
  background-color: white;
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
}

.logo {
  width: auto;
  height: 80px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 20px;
}

.datos-empresa h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #222;
}
.datos-empresa p {
  margin: 2px 0;
  color: #666;
  font-size: 0.9rem;
}

/* Destinatario */
.destinatario {
  margin-bottom: 50px;
  line-height: 1.6;
}

/* Cuerpo */
.contenido p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Firmas */
.pie-firmas {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.firma {
  width: 40%;
  text-align: center;
  border-top: 1px solid #000;
  padding-top: 10px;
}

/* Ajustes para Impresión */
@media print {
  @page {
    size: 200mm 290mm;
    margin: 10mm 10mm 10mm 10mm;
  }
  body {
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  .carta {
    box-shadow: none;
    width: 100%;
    margin: 0px;
  }
  button {
    display: none;
  } /* Ocultar botones al imprimir */
}

/* Botón flotante para imprimir */
.botones {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0 0;
  background: transparent;
  color: white;
}

.btn-imprimir {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}
